*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background: linear-gradient(41.37deg, #000F2D 40.12%, #C028CD 154.12%);
    background-repeat:no-repeat;
}
.first{
    width: 100%;
    height:500px ;
    gap: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
}
.first input::placeholder{
    color: #fff 62%;
}
.titulo{
    font-size: 22px;
}
#input{
    width: 300px;
    border-bottom: 2px solid #fff; 
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image:url(./img/Vector.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
#input1{
    width: 300px;
    border-bottom: 2px solid #fff; 
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image:url(./img/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
#input2{
    width: 300px;
    border-bottom: 2px solid #fff; 
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image:url(./img/Vector\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
#input3{
    width: 300px;
    border-bottom: 2px solid #fff; 
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image:url(./img/Padlock.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
#input4{
    width: 300px;
    border-bottom: 2px solid #fff; 
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    background-image:url(./img/Padlock.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
button{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    background-color: #004ADA;
    text-align: center;
    border: none;
    border-radius: 5px
}