*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background: linear-gradient(41.37deg, #000F2D 40.12%, #C028CD 154.12%);
    background-repeat:no-repeat;
}
.formulario{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.formulario h1{
    font-size: 25px;
}
.formulario input{
    width: 300px;
    border-bottom:2px solid #fff;
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: transparent;
}
.formulario input ::placeholder{
    color: #fff 62%;
}
.formulario #input1{
    background-image:url(./img/Vector.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
.formulario #input2{
    background-image:url(./img/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
.formulario #input3{
    background-image:url(./img/Padlock.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
.formulario #input4{
    background-image:url(./img/Padlock.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1px 0.1px 1px 0.1px;
    padding-top: none;
    padding-right: none;
    padding-left: 40px;
    padding-bottom: 10px;
}
.formulario button{
    width: 280px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #004ADA;
}